# ${XXXXX} means variable XXXXX is stored in the .env file
services:
  test_frontend:
    build:
      context: ./test_frontend
    env_file: .env
    networks:
    - frontend
    ports:
    - ${TEST_FRONTEND_PORT}:${TEST_FRONTEND_PORT}
    restart: unless-stopped

  frontend:
    depends_on:
        backend:
          condition: service_started
    build:
      context: ./frontend
    env_file: .env
    networks:
    - frontend
    ports:
    - ${FRONTEND_PORT}:${FRONTEND_PORT}
    restart: unless-stopped

  backend:
    depends_on:
      postgres:
        condition: service_healthy
      clamav-rest:
        condition: service_healthy
    build:
      context: ./backend
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SERVER: ${POSTGRES_SERVER}
      POSTGRES_PORT: ${POSTGRES_PORT}
    networks:
    - frontend
    - backend
    ports:
    - ${BACKEND_PORT}:${BACKEND_PORT}
    volumes:
    - pdf_uploads:/pdf_uploads
    restart: unless-stopped

  postgres:
    image: postgres:17
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
    - backend
    ports:
    - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
    - postgres_data:/var/lib/postgresql/data
    - postgres_backups:/mnt/backups
    labels:
      deck-chores.pg-dump.command: sh -c "pg_dump -c -U ${POSTGRES_USER} ${POSTGRES_DB} > postgres_$(date +%F).sql"
      deck-chores.pg-dump.interval: daily
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

# ClamAV virus scanner with REST API
  clamav-rest:
    build:
      context: ./clamav-rest
    env_file: .env
    environment:
      MAX_FILE_SIZE: 100M
    networks:
    #- frontend # Uncomment to curl the api from localhost
    - backend
    ports:
    - ${CLAMAV_PORT}:${CLAMAV_PORT}
    #- 9443:9443
    volumes:
    - clamav_db:/var/lib/clamav
    - postgres_backups:/mnt/backups
    restart: unless-stopped
    healthcheck:
      test: curl --fail http://localhost:${CLAMAV_PORT} || exit 1
      interval: 30s
      timeout: 5s
      retries: 10


# Adminer: Database management dashboard
  adminer:
    image: adminer
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
    - frontend
    - backend
    ports:
      - ${ADMINER_PORT}:8080

# Deck-chores: Cron Scheduler for docker containers
  deck-chores:
    image: ghcr.io/funkyfuture/deck-chores:1
    deploy:
      mode: global
    environment:
      TIMEZONE: Europe/Helsinki
      DEFAULT_FLAGS: noservice
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - postgres_backups:/mnt/backups
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
  backend:

volumes:
  pdf_uploads:
  postgres_data:
  postgres_backups:
  clamav_db: