# ${XXXXX} means variable XXXXX is stored in the .env file
services:
  frontend:
    depends_on:
        backend:
          condition: service_healthy
    build:
      context: ./frontend
    env_file: .env
    networks:
    - frontend
    ports:
    - ${FRONTEND_PORT}:${FRONTEND_PORT}
    restart: unless-stopped

  backend:
    depends_on:
      postgres:
        condition: service_healthy
      clamav-rest:
        condition: service_healthy
    build:
      context: ./backend
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SERVER: ${POSTGRES_SERVER}
      POSTGRES_PORT: ${POSTGRES_PORT}
    networks:
    - frontend
    - backend
    ports:
    - ${BACKEND_PORT}:${BACKEND_PORT}
    volumes:
    - pdf_uploads:/pdf_uploads
    - ./backend/alembic.ini:/src/backend/alembic.ini
    - ./backend/alembic/:/src/backend/alembic
    post_start:
    - command: sh -c "alembic -c /src/backend/alembic.ini upgrade head"
    restart: unless-stopped
    healthcheck:
      test: /usr/bin/curl --fail http://localhost:${BACKEND_PORT}/healthcheck || exit 1
      interval: 30s
      timeout: 5s
      retries: 10

  postgres:
    build:
      context: ./postgres
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
    - backend
    ports:
    - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
    - postgres_data:/var/lib/postgresql/data
    - postgres_backups:/backups
    post_start:
      - command: sh -c "./dump_database.sh"
    labels:
      deck-chores.dump-database.command: sh -c "./dump_database.sh"
      deck-chores.dump-database.interval: daily
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

# ClamAV virus scanner with REST API
  clamav-rest:
    build:
      context: ./clamav-rest
    env_file: .env
    environment:
      MAX_FILE_SIZE: 100M
    networks:
    - backend
    ports:
    - ${CLAMAV_PORT}:${CLAMAV_PORT}
    volumes:
    - clamav_db:/var/lib/clamav
    - clamav_data:/clamav/data
    restart: unless-stopped
    healthcheck:
      test: curl --fail http://localhost:${CLAMAV_PORT} || exit 1
      interval: 30s
      timeout: 5s
      retries: 10


  pgadmin:
    image: dpage/pgadmin4
    networks:
    - frontend
    - backend
    ports:
      - ${ADMINER_PORT}:80
    environment:
      PGADMIN_DEFAULT_EMAIL: ${ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${ADMIN_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - postgres_data:/postgres_data
      - postgres_backups:/postgres_backups
    restart: unless-stopped

# Deck-chores: Cron Scheduler for docker containers
  deck-chores:
    image: ghcr.io/funkyfuture/deck-chores:1
    deploy:
      mode: global
    environment:
      TIMEZONE: Europe/Helsinki
      DEFAULT_FLAGS: noservice
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - postgres_backups:/mnt/backups
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
  backend:

volumes:
  pdf_uploads:
  postgres_data:
  postgres_backups:
  clamav_db:
  clamav_data:
  pgadmin_data: